<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bienvenido al Curso</title>
  <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&family=Fira+Code&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="../../css/blog.css" />
  <link rel="stylesheet" href="../../css/entrada.css" />
</head>
<body>
  <header>
    <h1>
        Master Of Codes
    </h1>
    <nav>
        <a href="../../index.html">Inicio</a>
        <a href="../../index.html#features">Cursos</a>            
    </nav>
</header>

 
  <article>
    <h1>Bienvenido al Curso</h1>
    <time datetime="2025-04-26">Publicado el 5 de mayo de 2025</time>

    <h2>¡FELICIDADES!</h2>
    <p>
      Bienvenido a este curso que hemos preparado para ti. Para nosotros, es un gusto, un placer y al mismo tiempo un honor que estés con nosotros.
    </p>
    <p>
      Antes que nada te quiero agradecer por estar aquí, por apoyar este blog y ayudarnos a crecer. Para nosotros, lo importante no es hacernos millonarios, consideramos que lo realmente importante es compartir el conocimiento y ayudar a los que van comenzando (y a los que no), ha dar sus primeros pasos, los segundos, o simplemente, ayudar a recordar lo que en algún momento sabias y quieres retomarlo.
    </p>
    <p>
      La programación es un arte que requiere mucho trabajo, tiempo y esfuerzo, por lo que te imploro que no desistas a la primer clase, ni a la segunda. Veras que el contenido será lo suficientemente digerible para que con 5 o 10 minutos al día puedas aprender algo nuevo.
    </p>
    <p>
      Hablando especificamente de <b>JavaScript</b>, y si es tu primera vez trabajando con un lenguaje que utiliza el paradigma orientado a objetos, el tiempo, esfuerzo y dedicación que necesitaras se multiplican exponencialmente.
    </p>
    <h2>¿Que esperar en este curso?</h2><br>
    <ul>
      <li>Mucha teoría.</li>
      <li>Explicaciones muy extensas.</li>
      <li>Muchos ejercicios.</li>
      <li>Actividades prácticas.</li>
      <li>Retos para hacerte pensar.</li>
    </ul>
    <h2>No te desesperes.</h2>
    <p>
      Cuando yo comence a aprender este lenguaje de programación, tuve muchisimos problemas (no entendia nada, lloraba de desesperación, lo intenté hasta el cansancio y sin ningun exito a la vista). Podría decir incluso que gracias a este lenguaje estuve a punto de dejar la programación definitivamente.
    </p>
    <p>
      Despues de mucho tiempo (aproximadamente año y medio de esfuerzo), entendí a lo que se referia el lenguaje y como manejarlo, y fue cuando comence a realizar mis primeros proyectos freelance a pequeños clientes. Conforme fui avanzando clientes mas grandes fueron apareciendo y, al día de hoy, tengo mi trabajo como desarrollador web profesional.
    </p>
    <p>
      Te cuento este breve pasaje de mi historia para que entiendas algo. <b>JAVASCRIPT NO ES SENCILLO, PERO TAMPOCO ES IMPOSIBLE</b>, y, si lo aprendes adecuadamente, comprenderas que lenguajes como PHP, .NET, Python, entre otros, son cosa de niños una vez entendido el gran monstruo que es <b>JavaScript</b>
    </p>
    <h2>
      Por donde comenzar
    </h2>
    <p>
      Te recomiendo que busques el IDE adecuado para ti. Si pides mi opinion, yo te recomiendo WebStorm, te dejo el link de descarga <a href="https://www.jetbrains.com/es-es/webstorm/">aquí</a>. Este entorno de desarrollo es de paga pero, puede solicitar una licencia gratuita con un correo academico (un correo de tu escuela), no todos entran pero si tienen una gran variedad de escuelas registradas.
    </p>
    <p>Si por alguna razón no puedes descargarlo de manera gratuita, puedes optar por un IDE gratuito como:</p>

    <ul>
      <li><a href="https://code.visualstudio.com/">Visual Studio Code</a></li>
    </ul>
    <p>En este utlimo te recomiendo que instales el plugin <b>LiveServer</b>, que te ayuda a ver tus cambios en tiempo real.</p>
    <h2>Es normal no entender</h2>
    <p>
      Quizá no entiendas a la primera, a la segunda, a la centésima vez que leas la clase. ES NORMAL. No eres el primero ni el último ser en la tierra al que le costara trabajo este lenguaje. Ten paciencia, revisa el contenido mil veces si es necesario y eventualemente lo lograrás.
    </p>
    <h2>
      En sus marcas, listos, fuera
    </h2>
    <p>
      Creo que de momento no tengo nada mas que decirte, asi que preparate un buen cafe, toma la botana de tu agrado y nos vemos en clase.
    </p>
    <nav class="end">
      <div></div>
      <div><a href="clase 2.html">JavaScript: El lenguaje que escucha y actúa →</a>
    </div>
    </nav>
  </article>
</body>
</html>
