<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hola mundo en JavaScript</title>
  <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&family=Fira+Code&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="../../css/blog.css" />
  <link rel="stylesheet" href="../../css/entrada.css" />
</head>
<body>
    <header>
        <h1>
            Master Of Codes
        </h1>
        <nav>
            <a href="../../index.html">Inicio</a>
            <a href="../../index.html#features">Cursos</a>            
        </nav>
    </header>

    <article>
        <h1>Hola Mundo en JavaScript</h1>
        <time datetime="2025-04-26">Publicado el 5 de mayo de 2025</time>
        <p>
            Una vez entendida la teoría detrás de como funciona Java. Comenzaremos con la creación de nuestro primer código en este lenguaje. 
            <pre><code>public class HolaMundo{
    public static void main(String []argv){
        System.out.println("Hola mundo");
    }
}</code></pre>
        </p>
        <p>
            Ahora que lo hemos escrito, es momento de correrlo en tu ide:
            <ul>
                <li>Inicia un nuevo proyecto dentro de tu IDE (acorde a la que utilices)</li>
                <li>Crea un archivo de nombre <code>HolaMundo.java</code> </li>
                <li>Escribe este código tal cual se muestra.</li>
                <li>Córrelo (nuevamente, acorde a como se realice en tu IDE este paso)</li>
            </ul>
        </p>
        <p>
            Si a este punto ha salido todo bien, deberías de ver la siguiente respuesta:
            <pre><code>Hola mundo</code></pre>
        </p>
        <p>
            Sencillo ¿no te parece?. Pues aunque en principio lo es, hay mucho que estudiar en este pequeño código, nuevamente intentaremos hacerlo fácil, sencillo y para toda la familia.
        </p>
        <h2>
            Creación de una clase
        </h2>
        <p><pre><code>public class HolaMundo{
            
}</code></pre></p>

        <p>
            Las "clases" en Java son el elemento principal de creación. En esencia son "contenedores" que almacenan código relacionado entre si.
        </p>
        <p>
            Nos indica que es una clase pública, lo cual en resumidas cuentas se interpreta como el hecho de poder ser visualizada por cualquier otra clase que lo necesite.
        </p>
        <p>
            Se que de momento esto no nos dice mucho, veras que conforme pasen las clases, todo será mas claro.
        </p>
        <h2>El método principal</h2>
       <p>
<pre><code>public class HolaMundo{
    public static void main(String []argv){
                
    }
}</code></pre>
       </p>
<p>
    El siguiente apartado es conocido como el método principal, es decir, el método que Java buscara de primera mano y de donde comenzará a ejecutar nuestro código, dicho de otra manera, es el método que Java ejecuta primero al iniciar  una aplicación.
</p>
<h2>Método println</h2>
<p>
<pre><code>public class HolaMundo{
    public static void main(String []argv){
        System.out.println("Hola mundo");
    }
}</code></pre>
</p>
<p>
    Por último pero no menos importante, tenemos un método llamado <code>println</code> que no es mas que el método mas sencillo de escribir un mensaje en consola. Lo peculiar de este método es que en al terminar de escribir una linea, en automático da un salto de linea (el equivalente a presionar enter en un editor de texto como word).
</p>
<p>
    Como puedes ver, el lenguaje Java desde un inicio nos muestra gran parte de su estructura básica. En nuestra siguiente clase, ahora no solo sacaremos información de Java, ahora vamos a almacenarla directamente en nuestro programa y mostrarla en pantalla. Veremos la clase de variables.
</p>
        <nav class="end">
            <div><a href="clase 2.html">← El lenguaje Java</a></div>
            <div><a href="clase 4.html">Presentandonos con Java →</a></div>
        </nav>    
    </article>
</body>
</html>
