<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Introducción a Java</title>
  <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&family=Fira+Code&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="../../css/blog.css" />
  <link rel="stylesheet" href="../../css/entrada.css" />
</head>
<body>
    <header>
        <h1>
            Master Of Codes
        </h1>
        <nav>
            <a href="../../index.html">Inicio</a>
            <a href="../../index.html#features">Cursos</a>            
        </nav>
    </header>

    <article>
        <h1>Hola Mundo en Java</h1>
        <time datetime="2025-04-26">Publicado el 26 de abril de 2025</time>

        
        <nav class="end">
            <div><a href="clase 2.html">← El lenguaje Java</a></div>
            <div><a href="clase 4.html">Presentandonos con Java →</a></div>
        </nav>
    </article>
</body>
</html>
