<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/blog.css"/>
    <link rel="stylesheet" href="../../css/indice.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&family=Fira+Code:wght@400;700&display=swap" rel="stylesheet"/>
    <title>Java desde Cero</title>
</head>
<body>
  <header>
    <h1>
        Master Of Codes
    </h1>
    <nav>
        <a href="../../index.html">Inicio</a>
        <a href="../../index.html#features">Cursos</a>            
    </nav>
</header>
    <main>
        <h2>Curso de Java desde cero</h2>
        <ol>
          <li>
            <a href="../../views/Java/clase 1.html">
                <div class="index-number">01</div>
                <div class="index-title">Bienvenido al Curso</div>
            </a>
          </li>
          <li>
            <a href="../../views/Java/clase 2.html">
                <div class="index-number">02</div>
                <div class="index-title">El lenguaje Java</div>
            </a>
          </li>
          <li>
            <a href="../../views/Java/clase 3.html">
                <div class="index-number">03</div>
                <div class="index-title">Primer programa</div>
            </a>        
          </li>
          <li>
            <a href="../../views/Java/clase 4.html">
                <div class="index-number">04</div>
                <div class="index-title">Variables en Java</div>
            </a>        
          </li>
          <!-- Agrega más clases según necesites -->
        </ol>
        <br>
        <h2>Manuales</h2>
        <ol>
          <li>
            <a href="manuales/tipos_de_dato.html">
              <div class="index-number">01</div>
              <div class="index-title">Tipos de dato en Java</div>
            </a>
          </li>

          <li>
            <a href="manuales/operaciones_básicas.html">
              <div class="index-number">01</div>
              <div class="index-title">Operaciones básicas en Java</div>
            </a>
          </li>
        </ol>
      </main>
</body>
</html>
